<div class="fixed top-0 left-0 h-screen w-20 flex flex-col bg-zinc-800 shadow-2xl hover:w-64
transition-all duration-200 group ease-linear cursor-pointer">
  <div class="flex items-center h-20 w-20 text-emerald-500 hover:text-emerald-100 transition-colors ease-in">
    <fa-icon class="fixed left-5" [icon]="faMusic" size="2x"></fa-icon>
    <span class="opacity-0 group-hover:opacity-100 transition-opacity ease-out delay-75 duration-200 relative left-20 text-3xl">Musik</span>
  </div>
  <div class="flex items-center h-20 w-20 text-emerald-500 hover:text-emerald-100 transition-colors ease-in">
    <fa-icon class="fixed left-5" [icon]="faThList" size="2x"></fa-icon>
    <span class="opacity-0 group-hover:opacity-100 transition-opacity ease-out delay-75 duration-200 relative left-20 text-3xl">Playlist</span>
  </div>
</div>
